In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\KAAN EREN\music.csv')
df.shape
X = df.drop(columns = ["genre"])
Y = df["genre"]

In [3]:
df.head()

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz
4   29       1    Jazz

In [4]:
df.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [5]:
df.values

array([[20, 1, 'HipHop'],
       [23, 1, 'HipHop'],
       [25, 1, 'HipHop'],
       [26, 1, 'Jazz'],
       [29, 1, 'Jazz'],
       [30, 1, 'Jazz'],
       [31, 1, 'Classical'],
       [33, 1, 'Classical'],
       [37, 1, 'Classical'],
       [20, 0, 'Dance'],
       [21, 0, 'Dance'],
       [25, 0, 'Dance'],
       [26, 0, 'Acoustic'],
       [27, 0, 'Acoustic'],
       [30, 0, 'Acoustic'],
       [31, 0, 'Classical'],
       [34, 0, 'Classical'],
       [35, 0, 'Classical']], dtype=object)

In [6]:
X.head()

   age  gender
0   20       1
1   23       1
2   25       1
3   26       1
4   29       1

In [7]:
Y.head()

0    HipHop
1    HipHop
2    HipHop
3      Jazz
4      Jazz
Name: genre, dtype: object

In [23]:
from sklearn.tree import DecisionTreeClassifier
import joblib
from sklearn import tree
model = DecisionTreeClassifier()
model.fit(X.values,Y)
p = model.predict([[22,0],[21,1]])

#p

joblib.dump(model, "music_recommander.joblib")
tree.export_graphviz(model, out_file = "music_recommander.dot",
                     feature_names = ['age','gender'], 
                     class_names = sorted(Y.unique()),
                     label = "all",
                     rounded = True,
                     filled = True
                    )

In [22]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

model2 = DecisionTreeClassifier()
X_tr, X_te, Y_tr, Y_te = train_test_split(X,Y, test_size = 0.2)
model2.fit(X_tr, Y_tr) 
p2 = model2.predict(X_te) 
score = accuracy_score(Y_te,p2)
score

1.0