In [1]:
import pandas as pd
df = pd.read_csv(r'C:\Users\KAAN EREN\train.csv')
df.shape
df = df.dropna()
X = df.drop(columns = ["Survived"])

X = X.drop(columns = ["Name"])
X = X.drop(columns = ["Cabin"])
X = X.drop(columns = ["Ticket"])
X = X.drop(columns = ["Embarked"])
X = X.drop(columns = ["PassengerId"])
X = X.drop(columns = ["Parch"])
X = X.drop(columns = ["SibSp"])
Y = df["Survived"]

In [2]:
X.head()

    Pclass     Sex   Age     Fare
1        1  female  38.0  71.2833
3        1  female  35.0  53.1000
6        1    male  54.0  51.8625
10       3  female   4.0  16.7000
11       1  female  58.0  26.5500

In [3]:
X.loc[X["Sex"] == "male", "Sex"] = 1
X.loc[X["Sex"] == "female", "Sex"] = 0
X.head()

    Pclass Sex   Age     Fare
1        1   0  38.0  71.2833
3        1   0  35.0  53.1000
6        1   1  54.0  51.8625
10       3   0   4.0  16.7000
11       1   0  58.0  26.5500

In [4]:
X.isnull().values.any()

False

In [5]:
Y.head()

1     1
3     1
6     0
10    1
11    1
Name: Survived, dtype: int64

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier


model = DecisionTreeClassifier()
X_tr, X_te, Y_tr, Y_te = train_test_split(X,Y, test_size = 0.2)
model.fit(X_tr, Y_tr) 
p = model.predict(X_te) 
score = accuracy_score(Y_te,p)
score

0.7297297297297297